.root {
    -fx-background-color: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.15) 100%);
}

.rootPane {
    -fx-padding : 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.heading {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 72;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, rgb(33, 33, 33) 0%, rgb(66, 66, 66) 100%);
    -fx-text-fill: white;
    -fx-max-height: 1024;
    -fx-max-width: 1024;
}

.text-field.dirty {
    -fx-background-color: papayawhip;
}

.text-field.invalid {
    -fx-text-fill: red;
}

.check-box.dirty > .box {
    -fx-text-fill: red;
    -fx-background-color: papayawhip;
}

.icon {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 24;
}